<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/css/board.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="header :: nav"></nav>

    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num"></div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회수</div>
                </div>
                <div th:each="board : ${boards}">
                    <div class="num" style="font-size: 5px;">●</div>
                    <div class="title"><a href="#" th:href="@{|/view/${board.id}?code=${code}|}" th:text="${board.title}">제목</a></div>
                    <div class="writer" th:text="${board.writer}">글쓴이</div>
                    <div class="date" th:text="${#temporals.format(board.writeTime, 'yyyy-MM-dd HH:mm:ss')}">작성일</div>
                    <div class="count" th:text="${board.count}">조회수</div>
                </div>
            </div>

            <div class="board_page">
                <a href="#" class="bt first">&lt;&lt;</a>
                <a th:if="${#strings.equals(page, 0)}" href="#" class="bt prev" style="pointer-events: none;">&lt;</a>
                <a th:unless="${#strings.equals(page, 0)}" href="#" class="bt prev" th:href="@{|/board?code=${code}&page=${page - 1}|}">&lt;</a>
                <div th:each="p : ${#numbers.sequence(0, size)}" style="display: inline-block;">
                    <a th:if="${#strings.equals(p, page)}" href="#" th:href="@{|/board?code=${code}&page=${p}|}" class="num on" th:text="${p + 1}">1</a>
                    <a th:unless="${#strings.equals(p, page)}" href="#" th:href="@{|/board?code=${code}&page=${p}|}" class="num" th:text="${p + 1}">1</a>
                </div>
                <a th:if="${#strings.equals(page, 2)}" href="#" class="bt" style="pointer-events: none;">&gt;</a>
                <a th:unless="${#strings.equals(page, 2)}" href="#" class="bt" th:href="@{|/board?code=${code}&page=${page + 1}|}">&gt;</a>
                <a href="#" class="bt">&gt;&gt;</a>
            </div>
            <div class="bt_wrap">
                <a href="#" th:href="@{|/write?code=${code}&page=${page}|}">글쓰기</a>
            </div>
        </div>
    </div>
</body>
</html>