<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/css/join.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="header :: nav"></nav>

    <div style="text-align: center; margin-top: 70px;">
        <h1>회원가입</h1>
    </div>

    <section>
        <div class="container">
            <div class="inner_container">
                <form action="#" th:action="@{/join}" th:object="${user}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <div th:each="err : ${#fields.globalErrors()}">
                            <p style="color: red;" th:text="${err}">전체 오류 메시지</p>
                        </div>
                    </div>
                    <div>
                        <label for="username">아이디 </label>
                        <input id="username" th:field="*{username}" type="text" placeholder="아이디를 입력하세요." autocomplete="off" autofocus required>
                        <small class="error" th:errors="*{username}"></small>
                    </div>
                    <div>
                        <label for="password">비밀번호 </label>
                        <input id="password" th:field="*{password}" type="password" placeholder="비밀번호를 입력하세요." autocomplete="off" required>
                        <small class="error" th:errors="*{password}"></small>
                    </div>
                    <div>
                        <label for="nickname">닉네임 </label>
                        <input id="nickname" th:field="*{nickname}" type="text" placeholder="닉네임을 입력하세요." autocomplete="off" required>
                        <small class="error" th:errors="*{nickname}"></small>
                    </div>
                    <button type="submit">가입하기</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>